# Procedimientos Almacenados - PL/pgSQL

La mayoría de los DBMS ofrecen la posibilidad de programar funciones o procedimientos almacenados en el mismo DBMS. Estos procedimientos permiten tomar ventaja de todas las bondades de los DBMS. Esta semana vamos a aprender a programar estos procedimientos. Sqlite3 no soporta esta funcionalidad, así que vamos a tener que recurrir nuevamente a **PostgreSQL**.

Gracias a la magia de los Jupyter Notebooks, utilizaremos la libreria ipython-sql para acceder a la base de datos PostgreSQL que tenemos instalada en nuestro computador.

In [1]:
%load_ext sql

Debes modificar la siguiente celda para que tenga los datos correctos para conectarse la instancia de PostgreSQL que corre en tu computador.

``postgresql://<usuario_de_postgres>:<pass_de_postgres>@localhost/<nombre_db>``

In [2]:
%%sql 
postgresql://adriansotosuarez:@localhost/almacenados

/usr/local/lib/python3.7/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

'Connected: adriansotosuarez@almacenados'

Antes de comenzar, en la siguiente celda, crea una relación:

Personas(__run:varchar__, nombre:varchar, apellido:varchar)

In [3]:
%%sql 
DROP TABLE IF EXISTS Personas;
CREATE TABLE Personas (run varchar, nombre varchar, apellido varchar, PRIMARY KEY(run))

 * postgresql://adriansotosuarez:***@localhost/almacenados
Done.
Done.

[]

### Agradecimientos

Este notebook fue escrito principalmente por el ayudante **Marcelo Saldías González**.

## Funciones Básicas

La forma básica de las funciones es:

```SQL
CREATE OR REPLACE FUNCTION <nombre_función> (<atributos_de_input>)
RETURNS <tipo_retorno> AS
$$
DECLARE
    <declaración_de_variables>
BEGIN
    <sentencias_SQL>
END
$$ language plpgsql;
```

Acá tenemos:
+ **nombre_función**: Es el nombre que le quieras dar a la función.

+ **atributos_de_input**: Es una lista de atributos que recibe la función como input, de acuerdo a la sintáxis (input_1 tipo_1, input_2 tipo_2, ..., input_n tipo_n).
+ **declaración_de_variables**:Es una lista de variables a declarar. Los tipos comunes son integer, numeric, varchar y record.
+ **sentencias_SQL**: Contiene una lista de instrucciones SQL, cada una terminando en un punto y coma (;).

Hagamos entonces nuestra primera función.

In [4]:
%%sql
CREATE OR REPLACE FUNCTION insertar_persona (rut varchar, nombre varchar, apellido varchar)
RETURNS void AS
$$
BEGIN
    INSERT INTO Personas VALUES (rut, nombre, apellido);
END
$$ language plpgsql

 * postgresql://adriansotosuarez:***@localhost/almacenados
Done.

[]

Otra opción es escribir el código anterior en un editor de texto y guardarlo como **insertar_persona.sql**. Luego en postgres ejecutar:

```\i insertar_persona.sql```

Con cualquiera de las opciones anteriores, le estás diciendo a postgreSQL que ejecute el comando que tenías guardado. PostgreSQL va a crear la función, que ya esta lista para ser usada. Con esto podemos poblar la base de datos de forma más rápida. 

Para ejecutar nuestra nueva función, ejecuta lo siguiente:

In [5]:
%%sql
SELECT insertar_persona('unerut','unnombre','unapellido');

 * postgresql://adriansotosuarez:***@localhost/almacenados
1 rows affected.

[('',)]

Ahora vamos a verificar que la inserción se realizó correctamente mostrando todos las tuplas de la tabla Persona

In [6]:
%%sql
SELECT * FROM Personas;

 * postgresql://adriansotosuarez:***@localhost/almacenados
1 rows affected.

[('unerut', 'unnombre', 'unapellido')]

Ahora intentaremos algo más radical:

In [ ]:
%%sql

CREATE OR REPLACE FUNCTION insercion_radical (numero integer)
RETURNS void AS
$$
DECLARE
    temp varchar;
BEGIN
    FOR i IN 1..numero LOOP
        temp := to_char(i,'99999999');
        INSERT INTO Personas VALUES (temp, temp, temp);
    END LOOP;
END
$$ language plpgsql;

Ahora estamos listos! Ejecuta lo siguiente para tener tu primera tabla con 10000 tuplas

In [ ]:
%%sql

SELECT insercion_radical(10000);
SELECT * FROM Personas;

Hay un par de elementos por explicar acá:

+ El control de flujo en esta función está dado por:

```SQL
FOR <var> IN <x>...<Y> LOOP
    <sentencias_SQL>
END LOOP;
```
No necesitas haber declarado var, pero solo es válida dentro del loop (de hecho, al entrar al loop ingnoras la declaración anterior, si existiese). En general `x` e `y` pueden ser números, variables numéricas o expresiones.

+ Existen otras formas de iteración, como `WHILE` y `LOOP`.
+ La linea `temp := to_char(i, '999999999');` dice que la variable `temp` ahora corresponde a loa que retorna la funcion `to_char`. Esta función toma un número _n_ y un string _f_, y devuelve el número _n_ como un string, en el formato que indicaste con _f_. En general postgreSQL tiene miles de funciones como ésta, que ya están hechas. ¡Consulta la documentación!

Como control de lujo puedes escribir:

```SQL
IF <condicion booleana> THEN
    <sentencias SQL>
ELSE
    <sentencias SQL>
END IF;
```

En este caso, la condicion booleana es cualquier comparación que puedas escribir en SQL.

## Recorriendo los resultados de una consulta

La capacidad para recorrer, en el entorno mismo del DBMS, los resultados de las consultas es quizá lo más importante en las funciones.

Para eso necesitamos una variable de tip ```RECORD```. Este es un tipo abstracto que sirve para contener los resultados de una tupla.

La forma básica de recorrer los resultados de una consulta es entonces:

```sql
FOR <record> IN <consulta SQL> LOOP
    <sentencias SQL>
END LOOP;
```

Esto funcion de la siguiente manera: El sistema ejecuta la ```<consulta SQL>``` y va iterando tupla a tupla la respuesta: la primera tupla de la respuesta queda guardada en la variable ```<record>```, cuando se terminan de ejecutar las ```<sentencias SQL>``` se pasa a la segunda iteración, donde la segunda tupla de la respuesta a ```<consulta SQL>``` pasa a la variable ```<record>``` y así sucesivamente.

A modo de ejemplo, en la siguiente celda crea la siguiente tabla en postgres:

PersonasCompleto(**run:varchar**, nombrecompleto:varchar)

In [ ]:
%%sql
DROP TABLE IF EXISTS PersonasCompleto;
CREATE TABLE PersonasCompleto (run varchar, nombrecompleto varchar, PRIMARY KEY(run));

La siguiente función se usa para copiar a `PersonasCompleto` el rut y la concatenación del nombre y el apellido de cada persona almacenado en la tabla Persona.

In [ ]:
%%sql

CREATE OR REPLACE FUNCTION transferencia()
RETURNS void AS $$
DECLARE
    tupla RECORD;
    concat varchar;
BEGIN
    FOR tupla IN SELECT * FROM Personas LOOP
        concat = tupla.nombre || tupla.apellido;
        INSERT INTO PersonasCompleto VALUES (tupla.run, concat);
    END LOOP;
END
$$ language plpgsql

Ahora ejecutemos nuestra nueva funcion!

In [ ]:
%%sql
SELECT transferencia();
SELECT * FROM PersonasCompleto;

# Ejercicios

+ Escribe una función que reciba un número $i$, y retorne la $i$-ésima potencia de 2 (no tiene que ver con base de datos, pero es bueno para revisar que entiendes el entorno de programación!)

In [ ]:
%%sql

# Escribe tu código aquí!

+ Escribe una función que retorne el número de tuplas en la tabla Personas

In [ ]:
%%sql

#Escribe tu código aquí!

+ Escribe una función ```contar_K()``` que entregue el número de ruts en la tabla personas que terminan con K (recuerda que puedes usar el operador ```LIKE```)

In [ ]:
%%sql

#Escribe tu código aquí!